@import "main.css";

.container-jeux {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
    align-content: center;
    text-align: center;
    color: white;
    font-size: var(--font-size-body-medium);
}

h1 {
    font-family: "Tricky", sans-serif;
    font-size: var(--font-size-heading-big);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;
    color: transparent;

    /* je trace les contours du texte  */
    -webkit-text-stroke: 2px white;
    letter-spacing: 2%;
}

/* la grid des cartes*/
.memory-grid {
    display: grid;
    row-gap: 25px;
    width: 732px;
    height: 355.5px;
    column-gap: 24px;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.game-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 732px;
    margin: 0 auto 20px auto;
}

.jeux {
    width: 100vw;
    height: 100%;
    background-image: url(../assets/images/gradient-bg2-regles-jeu.jpg);
    background-size: cover;
    position: relative;
}

/* media query de la version mi tablette mi téléphone */
@media screen and (max-width: 864px) {
    h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 1.2;
        font-size: var(--font-size-heading-medium);
    }

    /* 2. j'ajuste l'espacement des infos */
    .game-infos {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .game-infos p {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 0.9rem;
    }
    /* 3. j'ajuste la grid */

    .memory-grid {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: repeat(4, 140px);

        gap: 12px;
        justify-content: center;
        align-content: start;
    }

    .memory-grid-items {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* media query vraiment pour les téléphones qui téléphonent*/
@media screen and (max-width: 864px) and (min-height: 800px) {
    .container-jeux {
        justify-content: center;
        gap: 20px;
    }
}
