@import "main.css";

.memory-grid {
    display: grid;
    width: 732px;
    height: 355.5px;
    row-gap: 25px;
    column-gap: 24px;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.background-jeux {
    background-image: url("../assets/images/gradient-bg1-accueil.jpg");
    background-size: fit;
}
