/* FONT IMPORT */
/* Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Tricky */
@font-face {
  font-family: "Tricky";
  src: url("./assets/fonts/Demotricky-mLA9m.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GENRAL RÈGLES */
body {
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

h1 {
  font-family: "MaSuperPolice", serif;
}

html,
body {
  scrollbar-width: none;

  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* VARIABLES */
:root {
  /* Couleur */
  --vert: #0eda8f;
  --jaune: #fed702;
  --fond-sombre: #b1a0ea;
  --noir: #101010;

  /* Font size */ /* --- Headings (Titres) --- */ /* 150px */
  --font-size-heading-large: 9.375rem;

  /* 115px */
  --font-size-heading-big: 7.1875rem;

  /* 60px */
  --font-size-heading-medium: 3.75rem;

  /* 44px */
  --font-size-heading-regular: 2.75rem;

  /* 30px */
  --font-size-heading-small: 1.875rem;

  /* 24px */
  --font-size-heading-compact: 1.5rem;

  /* --- Body & UI (Texte courant) --- */

  /* 30px - Même taille que Heading Small */
  --font-size-body-button: 1.875rem;

  /* 24px "Body medium" et "Body medium bold" */
  --font-size-body-medium: 1.5rem;

  /* 20px */
  --font-size-body-small: 1.25rem;

  /* 16px */
  --font-size-caption: 1rem;
}

/* HEADER */
header > div {
  height: 1.5rem;
  width: 100vw;
  overflow-x: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 4px;
  scrollbar-width: none;
}

/* FOOTER */
footer > nav {
  height: 1.5rem;
  width: 100vw;
  background-color: black;
}

footer > nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 100px;
  padding: 4px;
  font-size: var(--font-size-caption);
}

footer > nav > ul > li > a {
  color: white;
  text-decoration: none;
}
