<header>
  <div>
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
    <img src="./src/assets/images/foot-locker-logo.png" alt="Logo" />
  </div>
</header>
